name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: asdf-vm/actions/setup@v4
      - name: asdf_plugin_test
        run: |
          asdf plugin add pdftk https://github.com/lakshanwd/asdf-pdftk.git
          asdf install pdftk latest
          asdf set -u pdftk latest
          pdftk --version